    html {
        font-size: 1rem;
        font-family: 'Just Another Hand', cursive;
    }

    .nav-link {
        color: rgb(212, 55, 128);
        font-size: 2em;
    }

     /* Home page */
    .index-container {
        width: 90%;
        text-align: center;
        margin-top: 40px auto;
    }

    .quote {
        position: absolute;
        font-size: 3em;
        text-align: center;
        top: 60%;
        left: 80%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        color: palevioletred;
        cursor: pointer;
    }

    .index-container .btn {
        position: absolute;
        top: 75%;
        left: 75%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        background-color: palevioletred;
        color: white;
        font-size: 5em;
        padding: 12px 24px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        text-align: center;
    }

    .story {
        font-size: 1.5em;
        margin-left: 40px;
        padding: 20px;
    }

    /* .topnav {
        overflow: hidden;
        background-color: #333;
        position: relative;
    }

    .topnav #myLinks {
        display: none;
    }

    .topnav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }

    .topnav a.icon {
        background: white;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav a:hover {
        background-color: #ddd;
        color: black;
    } */

/*     
    @media screen and (max-width:959px) {
        .index-container {
            width: 100%;
        }
    }

    @media screen and (max-width:640px) {
        .index-container .quote {
            width: 100%;
        }

        .pic {
            width: 100%;
        }

        .index-container .btn {
            width: 100%;
        }

        .facts {
            text-align: center;
        }
    } */

    /* about page */
    .about-page {
        background-image: url("../images/index_background");
        height: 900px;
    }
    .card-header {
        background-color: white;
        text-emphasis-color: white;
    }

    .card-body {
        background-color: palevioletred;
    }


    /* contact page */
    /* .contact-page {
        background-image: url("../images/contact_girl.png")
    } */

    * {
        box-sizing: border-box;
    }

    /* Add padding to containers */
    .contact-page-container {
        font-size: 1.5em;
        width: 80%;
        margin: auto;
        padding: 16px;
        background-color: white;
        /* background-image: url("../images/marking-strides-against-breast-cancer.png") */
    }

    /* Full-width input fields */
    input[type=text],
    input[type=password] {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        display: inline-block;
        border: none;
        background: #f1f1f1;
    }

    input[type=text]:focus,
    input[type=password]:focus {
        background-color: #ddd;
        outline: none;
    }

    /* Overwrite default styles of hr */
    hr {
        border: 1px solid #f1f1f1;
        margin-bottom: 25px;
    }

    /* Set a style for the submit button */
    .registerbtn {
        background-color: palevioletred;
        color: white;
        padding: 16px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        opacity: 0.9;
    }

    .registerbtn:hover {
        opacity: 1;
    }

    /* Add a blue text color to links */
    a {
        color: dodgerblue;
    }

    /* Set a grey background color and center the text of the "sign in" section */
    .signin {
        background-color: #f1f1f1;
        text-align: center;
    }

    /* Map page */
        .map {
            /* background-image: url("../images/parade.png"); */
            height: 900px;
            text-align: center;
        }