    html {
        font-size: 1rem;
        font-family: 'Just Another Hand', cursive;
    }

    .nav-link {
        color: rgb(212, 55, 128);
        font-size: 2em;
    }

    /* Home page */

    .index-container {
        width: 90%;
        text-align: center;
        margin-top: 40px auto;
    }

    .quote {
        font-size: 3em;
        text-align: center;
        color: palevioletred;
        cursor: pointer;
        margin-top: 160px;
    }

    .story {
        font-size: 2em;
        margin-top: 150px;
        padding: 20px;
        color: rgb(36, 25, 25);
    }

    /* .topnav {
        overflow: hidden;
        background-color: #333;
        position: relative;
    }

    .topnav #myLinks {
        display: none;
    }

    .topnav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }

    .topnav a.icon {
        background: white;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav a:hover {
        background-color: #ddd;
        color: black;
    } */

    /*     
    @media screen and (max-width:959px) {
        .index-container {
            width: 100%;
        }
    }

    @media screen and (max-width:640px) {
        .index-container .quote {
            width: 100%;
        }

        .pic {
            width: 100%;
        }

        .index-container .btn {
            width: 100%;
        }

        .facts {
            text-align: center;
        }
    } */

    /* About page */

    .container_about {
        width: 70%;
        margin: auto;
        font-size: 1.2em;
        padding: 20px;
    }

    .card-body {
        background-color: palevioletred;
        text-align: center;
        border-radius: 30px;
        margin-top: 20px;
    }
    
    .about {
        font-size: 1.8em;
        margin: 10px;
        color: white;
        font-family: 'Amatic SC', cursive;
    }

    /* contact page */

    .container_contact {
        box-sizing: border-box;
        background-image: url("../images/contact_girl.png");
        background-repeat: no-repeat;
        background-size: 900px;
        font-size: 1.5em;
        width: 70%;
        margin: auto;
        padding: 20px;
        background-color: white;
    }

    .container_contact h1 {
        font-size: 1.8em;
        margin-bottom: 15px;
    }

    .container_signin {
        background-color: #f1f1f1;
        text-align: center;
        font-size: 1.5em;
        text-align: center;
        width: 70%;
        margin: auto;
        padding: 10px;
    }

    /* Full-width input fields */

    input[type=text], input[type=password] {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        display: inline-block;
        border: none;
        background: #f1f1f1;
    }

    input[type=text]:focus, input[type=password]:focus {
        background-color: #ddd;
        outline: none;
    }

    /* Overwrite default styles of hr */

    hr {
        border: 1px solid #f1f1f1;
        margin-bottom: 25px;
    }

    /* Set a style for the submit button */

    .registerbtn {
        background-color: palevioletred;
        color: white;
        padding: 16px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        opacity: 0.9;
    }

    .registerbtn:hover {
        opacity: 1;
    }

    /* Add a blue text color to links */

    a {
        color: dodgerblue;
    }

    /* Getwigs page */

    .container_getwigs {
        /* background-image: url("../images/parade.png"); */
        height: 900px;
        text-align: center;
        font-size: 1.6em;
        margin: auto;
        padding: 20px;
    }

    /* Donation page */

    .container_donation {
        width: 80%;
        text-align: center;
        margin: auto;
        font-size: 1.5em;
    }

    .jumbotron {
        background: rgb(199, 79, 109);
    }

    .container_donation h1 {
        color: white;
        font-size: 2em;
    }

    .container_donation h3 {
        color: white;
        font-size: 1.2em;
    }

    .btn.btn-primary {
        text-align: center;
        background-color: palevioletred;
        color: white;
        font-size: 2.5em;
        padding: 12px 24px;
        border-radius: 10px;
        border-color: white;
        cursor: pointer;
        margin: 20px;
    }

    .form-control {
        font-size: 1.2em;
    }