    html {
        font-size: 1rem;
        font-family: 'Amatic SC', cursive;
    }

    .nav-link {
        color: rgb(212, 55, 128);
        font-size: 2em;
    }

    /* Home page */

    .index-container {
        width: 90%;
        text-align: center;
        margin-top: 40px auto;
    }

    .quote {
        font-size: 3em;
        text-align: center;
        color: palevioletred;
        cursor: pointer;
        margin-top: 160px;
    }

    .story {
        font-size: 2em;
        margin-top: 150px;
        padding: 20px;
        color: rgb(36, 25, 25);
    }

    /* About page */

    .container_about {
        width: 70%;
        margin: auto;
        font-size: 1.2em;
        padding: 20px;
    }

    .card-body {
        background-color: palevioletred;
        text-align: center;
        border-radius: 30px;
        margin-top: 20px;
    }

    .about {
        font-size: 1.8em;
        margin: 10px;
        color: white;
        font-family: 'Amatic SC', cursive;
    }

    /* Register page */

    .container_register {
        box-sizing: border-box;
        background-image: url("../images/contact_girl.png");
        background-repeat: no-repeat;
        background-size: 1300px;
        font-size: 2em;
        width: 70%;
        margin: 30px auto;
        padding: 20px;
        background-color: white;
    }

    h1 {
        font-size: 1.5em;
        margin-bottom: 15px;
    }

    .container_signin {
        background-color: #f1f1f1;
        text-align: center;
        font-size: 1.5em;
        text-align: center;
        width: 70%;
        margin: auto;
        padding: 10px;
    }

    /* Full-width input fields */

    input[type=text], input[type=password] {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        display: inline-block;
        border: none;
        background: #f1f1f1;
    }

    input[type=text]:focus, input[type=password]:focus {
        background-color: #ddd;
        outline: none;
    }

    /* Overwrite default styles of hr */

    hr {
        border: 1px solid #f1f1f1;
        margin-bottom: 25px;
    }

    /* Set a style for the submit button */

    .registerbtn {
        background-color: palevioletred;
        color: white;
        padding: 16px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        opacity: 0.9;
    }

    .registerbtn:hover {
        opacity: 1;
    }

    /* Add a blue text color to links */

    a {
        color: dodgerblue;
    }

    /* Getwigs page */

    .container_getwigs {
        width: 1000px;
        text-align: center;
        font-size: 1.6em;
        margin: auto;
        padding: 20px;
    }

    /* Always set the map height explicitly to define the size of the div
   * element that contains the map. */

    #map {
        height: 500px;
        width: 1000px;
        margin: auto;
    }

    /* Optional: Makes the sample page fill the window. */

    #description {
        font-family: 'Amatic SC', cursive;
        font-size: 15px;
        font-weight: 300;
    }

    #infowindow-content .title {
        font-weight: bold;
    }

    #infowindow-content {
        display: none;
    }

    #map #infowindow-content {
        display: inline;
    }

    .pac-card {
        margin: 10px 10px 0 0;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        background-color: #fff;
        font-family: 'Amatic SC', cursive;
    }

    #pac-container {
        padding-bottom: 12px;
        margin-right: 12px;
    }

    .pac-controls {
        display: inline-block;
        padding: 5px 11px;
    }

    .pac-controls label {
        font-family: 'Amatic SC', cursive;
        font-size: 20px;
        font-weight: 300;
    }

    #pac-input {
        background-color: #fff;
        font-family: 'Amatic SC', cursive;
        ;
        font-size: 30px;
        font-weight: 300;
        margin: 10px 0 0 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 400px;
    }

    #pac-input:focus {
        border-color: #4d90fe;
    }

    #title {
        color: #fff;
        background-color: #4d90fe;
        font-size: 25px;
        font-weight: 500;
        padding: 6px 12px;
    }

    #target {
        width: 345px;
    }

    button.shoppingbtn {
        background: rgb(219, 52, 130);
        color: rgb(255, 255, 255);
        padding: 30px 120px;
        margin: auto;
        border: solid 3px rgb(255, 207, 245);
    }

    button.shoppingbtn a {
        background: rgb(219, 52, 130);
        color: rgb(255, 255, 255);
        font-size: 1.5em;
        text-align: center;
    }

    /* Donation page */

    .container_donation {
        width: 80%;
        text-align: center;
        margin: auto;
        font-size: 1.5em;
    }

    .jumbotron {
        background: rgb(199, 79, 109);
    }

    .container_donation h1 {
        color: white;
        font-size: 2em;
    }

    .container_donation h3 {
        color: white;
        font-size: 1.2em;
    }

    .btn.btn-primary {
        text-align: center;
        background-color: palevioletred;
        color: white;
        font-size: 2.5em;
        padding: 12px 24px;
        border-radius: 10px;
        border-color: white;
        cursor: pointer;
        margin: 20px 0 0 30px;
    }

    .form-control {
        font-size: 1.2em;
    }

    #add-user {
        font-size: 2em;
        margin: auto;
    }

    .form-group.row {
        width: 90%;
        margin: auto;
        padding: 10px;
    }